{% extends 'layouts/main.html' %}
{% block content %}
<div id="breadcrumb" class="section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <h3 class="breadcrumb-header">Ödeme</h3>
         </div>
      </div>
   </div>
</div>
<div class="section">
   <div class="container">
      <div class="row">
        <form action="" method="post">
         <div class="col-md-7">
            {% csrf_token %}
             <div class="billing-details">
               <div class="section-title">
                  <h3 class="title">Gönderim Adresi</h3>
               </div>
               <div class="form-group">
                  <input class="input" type="text" name="first_name" placeholder="Adınzı">
               </div>
               <div class="form-group">
                  <input class="input" type="text" name="last_name" placeholder="Soyadınız">
               </div>
               <div class="form-group">
                  <input class="input" type="text" name="address" placeholder="Adres">
               </div>
               <div class="form-group">
                  <input class="input" type="tel" name="phone" placeholder="Telefon">
               </div>
                <div class="form-group">
                  <input class="input" type="text" name="country" placeholder="Ülke">
               </div>
               <div class="form-group">
                  <input class="input" type="text" name="city" placeholder="Şehir">
               </div>
            </div>
         </div>
         <div class="col-md-5 order-details">
            <div class="section-title text-center">
               <h3 class="title">Sipariş Detayı</h3>
            </div>
            <div class="order-summary">
               <div class="order-col">
                  <div><strong>ÜRÜN</strong></div>
                  <div><strong>TOPLAM</strong></div>
               </div>
               <div class="order-products">
                {%for item in basket_products%}
                  <div class="order-col">
                     <div>{{item.quantity}}x {{item.product.title}}</div>
                     <div>{{item.product.price}} ₺</div>
                  </div>
                   {%endfor%}
               </div>
               <div class="order-col">
                  <div><strong>Toplam</strong></div>
                  <div><strong class="order-total">{{basket_total}} ₺</strong></div>
               </div>
            </div>
            <div class="payment-method">
               <div class="input-radio">
                  <input checked type="radio" name="payment" id="payment-1">
                  <label for="payment-1">
                  <span></span>
                  Havale/Eft
                  </label>
               </div>
            </div>
            <div class="input-checkbox">
               <input type="checkbox" id="terms">
               <label for="terms">
               <span></span>
               Sözleşmeyi okudum 
               </label>
            </div>
            <button type="submit" class="primary-btn order-submit">Ödemeyi Tamamla</button>
         </div>
        </form>
      </div>
   </div>
</div>
{% endblock %}