
{% extends 'layouts/main.html' %}
{% block content %}
    {% for item in product %}
        {{item.title}} - {{item.price}}
       

         <form action="/order/addtocart/{{item.id}}" method="post">
            {% csrf_token %}
            <input name="quantity" type="number" min="0" max="{{item.amound}}" value="1"/>
            <button type="submit">SEPETE EKLE</button>

        </form>


    {% endfor %}

    {%for image in images %}
        {{image.image}}
    {% endfor %}

   
{% endblock %}